/***********variables ***************/
$border: #747a76;
$contrast: #de6f50;
$text: #08090e;

/**********mixins************/
@mixin button-style {
  border-radius: 5px;
  height: 40px;
  background: $contrast;
  font-size: 16px;
  color: white;
  border: none;

}

@mixin card-button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  border: none;
}

/*************universal**************/
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-image: url("./images/powder-day.jpg");
  background-size: cover;  
  justify-content: center;
  align-items: center;
  color: $text;
}
.App {
  text-align: center;

}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}

input {
  border-radius: 5px;
  padding: 10px;
  border: $border 1px solid;
  margin: 10px;
  height: 20px;
  font-size: 16px;
}

/*********login and register pages******/

.log-reg-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .form-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;

    input {
    width: 100%;
  }  
  }



  .log-reg-button {
    @include button-style;
    width: 50%;
  }


}

  .info-text {
    padding-top: 15px;
    font-weight: bold;
  }
/**************mountains page**********/
.mntn-form {
  border: red 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  input {
    width: 50%;
  }

  .mntn-button {
    @include button-style;
    width: 50%;
  }
}

/***********mountain cards***************/

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.card {
  width: 300px;
  border: 1px $border solid;
  background: white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.button-box {

  display: flex;
  justify-content: space-around;
  
  .delete-button {
    @include card-button;
    background: $text;
    color: white;
  }

  .see-more {
    @include card-button;
    background: $contrast;
    color: white;
  }


}




